.vscode/**
**/*.ts
**/*.map
.gitignore
.eslint*
**/testFixture/**
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
node_modules/**
client/node_modules/**
server/node_modules/**
scripts/**
